# PostgreSQL Database (Amvera)
DATABASE_URL=postgresql://threep_user:64p-a5R-vuT-8ts@threep-db-threep.db-msk0.amvera.tech:5432/threep

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=c2754b0e84e3e6d214fbe0f66ebbbce2f4f8e5af614b2b9b05c2804c6c8f709a

# Yandex SMTP
SMTP_HOST=smtp.yandex.ru
SMTP_PORT=465
SMTP_USER=iakimow2@yandex.ru
SMTP_PASS=qrqdypsqnmvvbzrw
SMTP_FROM=noreply@3threep.ru

# Yandex Object Storage
YANDEX_STORAGE_ENDPOINT=https://storage.yandexcloud.net
YANDEX_STORAGE_BUCKET=threep-media
YANDEX_STORAGE_ACCESS_KEY=your_access_key
YANDEX_STORAGE_SECRET_KEY=your_secret_key
YANDEX_STORAGE_REGION=ru-central1
NEXT_PUBLIC_STORAGE_BASE_URL=https://storage.yandexcloud.net/threep-media

# Admin
ADMIN_EMAIL=iakimow2@yandex.ru

# Telegram (optional)
TELEGRAM_BOT_TOKEN=your_bot_token
TELEGRAM_ADMIN_CHAT_ID=your_chat_id
TELEGRAM_THREAD_ID=your_thread_id
